html,
body {
  height: 100%;
  width: 100%;
  color: #fff !important; }

hr {
  border-color: #56C2E1;
  border-width: 3px;
  max-width: 50px; }

hr.light {
  border-color: white; }

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #56C2E1; }

a:hover,
a:focus {
  color: #eb3812; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px; }

.bg-primary {
  background-color: #56C2E1; }

.bg-dark {
  background-color: #222222;
  color: white; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 100px 0; }

aside {
  padding: 50px 0; }

.no-padding {
  padding: 0; }

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  /*background-image: url('../img/header.jpg');*/
  text-align: center;
  color: white; }

header .header-content {
  position: relative;
  text-align: center;
  padding-top: calc(100vh - 800px);
  width: 100%; }

header .header-content .header-content-inner h1 {
  font-weight: 700;
  font-family: 'Ubuntu Mono';
  margin-top: 0;
  margin-bottom: 0;
  font-size: 80px;
  text-shadow: 3px 3px #000; }

header .header-content .header-content-inner hr {
  margin: 30px auto; }

header .header-content .header-content-inner p {
  color: inherit;
  font-family: 'Share Tech Mono';
  font-size: 24px;
  font-weight: 400;
  text-shadow: 1px 1px #000; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  header .header-content .header-content-inner h1 {
    font-weight: 700;
    font-family: 'Ubuntu Mono';
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    text-shadow: 3px 3px #000; } }

.menu-open {
  font-family: 'Ubuntu Mono';
  font-size: 30px;
  cursor: pointer; }

.overlay {
  font-family: 'Ubuntu Mono';
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.overlay img {
  width: 300px; }

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: calc(100vw - 90vw);
  font-size: 60px;
  cursor: pointer; }

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: calc(100vw - 90vw); } }
